<div class="row">
  <div class="col-lg-12">
    <div class="ibox ">
      <div class="ibox-title">
        <h5 class="modal-title" id="modal-basic-title">FORMULARIO DE INGRESO DE SOBRANTE</h5>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>Punto de Venta</label>
              <input type="text" name="puntoventa" [(ngModel)]="cierreCajas.puntoventa" class="form-control" readonly>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>Vendedor</label>
              <input type="text" name="usuario" [(ngModel)]="cierreCajas.usuario" class="form-control" readonly>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label>Fecha</label>
              <input type="datetime-local" name="fecha" [(ngModel)]="cierreCajas.fecha" class="form-control">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <label>Monto</label>
              <input type="text" name="ingresoSobrante" [(ngModel)]="cierreCajas.ingresoSobrante" class="form-control" (keyup)="calcularEntradaDinero($event.target)"  (input)="funcionesService.soloAceptarNumerosPuntoDecimal($event.target)">
            </div>
          </div>
          <!-- <div class="col-lg-4">
            <div class="form-group">
              <label>Total</label>
              <input type="text" name="entradaTotal" [(ngModel)]="cierreCajas.entradaTotal" class="form-control" readonly>
            </div>
          </div> -->
          <div class="col-lg-12">
            <div class="form-group">
              <label>Motivo</label>
              <textarea name="entradaTotal" [(ngModel)]="cierreCajas.motivo" class="form-control"></textarea>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12"><button class="btn btn-outline btn-primary dim" (click)="GUARDARENTRADAEFECTIVO('E')"><i class="fa fa-save"></i> GRABAR</button></div>
        </div>
      </div>
      <hr>
      <div class="ibox-content">
        <div class="row">
          <div class="col-lg-12">
              <div id="dTableMain" class="melevation">
                  <table mat-table [dataSource]="MainDS" style="width: 100%;" multiTemplateDataRows>

                      <ng-container matColumnDef="usuario">
                          <th mat-header-cell *matHeaderCellDef> Usuario </th>
                          <td mat-cell *matCellDef="let element" class='m-card-title' data-label='Banco :'>
                              {{element.usuario}}
                          </td>
                      </ng-container>

                    <ng-container matColumnDef="fecha">
                          <th mat-header-cell *matHeaderCellDef> Fecha </th>
                          <td mat-cell *matCellDef="let element" class='m-card-title' data-label='Fecha :'>
                              {{element.fecha | date:'dd/MM/yyyy hh:mm a'}}
                          </td>
                      </ng-container>

                      <ng-container matColumnDef="motivo">
                        <th mat-header-cell *matHeaderCellDef> Descripción </th>
                        <td mat-cell *matCellDef="let element" class='m-card-title' data-label='Descripción :'>
                            {{element.motivo}}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="ingresoSobrante">
                        <th mat-header-cell *matHeaderCellDef> Monto </th>
                        <td mat-cell *matCellDef="let element" class='m-card-title' data-label='Monto :'>
                            {{element.ingresoSobrante | number:'0.2-2'}}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef> Acciones </th>
                        <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Acciones :'>
                          <button class="btn btn-danger btn-rounded dim mt-2" (click)="eliminarRegistro(element)"><i class="fa fa-trash"></i></button>
                        </td>
                    </ng-container>

                      <ng-container matColumnDef="noData">
                          <mat-footer-cell *matFooterCellDef [attr.colspan]="MainDC.length">
                              No se encuentran registros.
                          </mat-footer-cell>
                      </ng-container>

                      <tr mat-header-row *matHeaderRowDef="MainDC; sticky: true"></tr>
                      <tr mat-row *matRowDef="let row; columns: MainDC;"></tr>
                      <mat-footer-row *matFooterRowDef="['noData']" [hidden]="MainDS && this.MainDS.filteredData.length > 0">
                      </mat-footer-row>
                  </table>

              </div>
              <mat-paginator #pagMain style="display: contents;" [hidePageSize]="false" [pageSize]="10" showFirstLastButtons>
              </mat-paginator>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>
