<div class="row">
  <div class="col-lg-12">
    <div class="ibox ">
      <div class="ibox-title">
        <h5>Aplicar filtro por :</h5>
      </div>
      <div class="ibox-content">
        <form autocomplete="off" id="fgMain" [formGroup]="fgMain">
          <div class="row">
            <div class="col-lg-6">
              <label class="font-weight-bolder">Punto de Venta:</label>
              <input type="text" name="puntoVenta" formControlName="puntoventa" class="form-control" readonly>
            </div>
            <div class="col-lg-6">
              <label class="font-weight-bolder">Producto Ajuste:</label>
              <input type="text" name="nombre" formControlName="nombre" class="form-control">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-5">
              <label class="font-weight-bolder">Fecha de Inicio:</label>
              <input type="date" name="fechaIni" formControlName="fechaIni" class="form-control">
            </div>
            <div class="col-lg-5">
                <label class="font-weight-bolder">Fecha Fin:</label>
                <input type="date" name="fechaFin" formControlName="fechaFin" class="form-control">
            </div>
            <div class="col-lg-2">
                <button type="button" (click)="limpiar()" class="btn btn-success dim mt-3"><i class="fa fa-eraser"></i></button>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 d-flex justify-content-start">
              <button (click)="crudRegistros()" type="button" class="btn btn-info dim mr-2"><i class="fa fa-save"></i> Agregar Compra Ajuste</button>
            </div>
            <div class="col-lg-6 d-flex justify-content-end">
                <button type="button" (click)="downloadPDF()" class="btn btn-danger dim mr-2"><i class="fa fa-file-pdf-o"></i> Descargar PDF</button>
                <button type="button" (click)="downloadExcel()" class="btn btn-primary dim"><i class="fa fa-file-excel-o"></i> Descargar Excel</button>
            </div>
          </div>
        </form>
      </div>
      <hr>

      <div class="ibox-content">
        <div class="row">
            <div class="col-lg-12">
                <div id="dTableMain" class="melevation">
                    <table mat-table [dataSource]="MainDS" style="width: 100%;" multiTemplateDataRows>
                      <ng-container matColumnDef="idProducto">
                        <th mat-header-cell *matHeaderCellDef> Producto </th>
                        <td mat-cell *matCellDef="let element" class='m-card-title' data-label='Producto :'>
                            {{element.productos.nombre}}
                        </td>
                      </ng-container>
                        <ng-container matColumnDef="productoAjuste">
                            <th mat-header-cell *matHeaderCellDef> Producto Ajuste </th>
                            <td mat-cell *matCellDef="let element" class='m-card-title' data-label='Producto Ajuste :'>
                                {{element.nombre}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="tipoAjuste">
                            <th mat-header-cell *matHeaderCellDef> Tipo </th>
                            <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Tipo :'>
                                <span *ngIf="element.tipoAjuste === 1 || element.tipoAjuste === '1'"><strong class="text-success">INGRESO</strong></span>
                                <span *ngIf="element.tipoAjuste === 2 || element.tipoAjuste === '2'"><strong class="text-danger">SALIDAS</strong></span>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="stockAjuste">
                            <th mat-header-cell *matHeaderCellDef> Nuevo Stock </th>
                            <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Nuevo Stock :'>
                                {{element.stockAjuste}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef class="text-center"> Estado </th>
                            <td mat-cell *matCellDef="let element" class='m-card-title text-center' data-label='Estado :'>
                                <button class="btn btn-success btn-rounded dim mt-2" *ngIf="element.status === 1 || element.status === '1'">ACTIVO</button>
                                <button class="btn btn-danger btn-rounded dim mt-2" *ngIf="element.status === 0 || element.status === '0'">INACTIVO</button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef> Acciones </th>
                            <td mat-cell *matCellDef="let element" class='has_label_on_mobile' data-label='Acciones :'>
                              <button class="btn btn-info btn-rounded dim mt-2" (click)="viewDetail(element)"><i class="fa fa-edit"></i></button>
                              <button class="btn btn-danger btn-rounded dim mt-2" (click)="eliminarRegistro(element)"><i class="fa fa-trash"></i></button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="noData">
                            <mat-footer-cell *matFooterCellDef [attr.colspan]="MainDC.length">
                                No se encuentran registros.
                            </mat-footer-cell>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="MainDC; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: MainDC;"></tr>
                        <mat-footer-row *matFooterRowDef="['noData']" [hidden]="MainDS && this.MainDS.filteredData.length > 0">
                        </mat-footer-row>
                    </table>

                </div>
                <mat-paginator #pagMain style="display: contents;" [hidePageSize]="false" [pageSize]="10" showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
