<div class="row">
  <div class="col-lg-12">
      <div class="ibox ">
          <div class="ibox-title">
              <h5>Aplicar filtro por :</h5>
          </div>
          <div class="ibox-content">
            <form autocomplete="off" id="formGroup" [formGroup]="formGroup">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="font-weight-bolder">Punto de Venta:</label>
                    <input type="text" name="puntoventa" formControlName="puntoventa" class="form-control" readonly>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                      <label>Vendedores</label>
                      <div class="ng-autocomplete">
                        <ng-autocomplete
                          [data]="cboVendedores"
                          [searchKeyword]="'nombre'"
                          placeholder=""
                          [itemTemplate]="itemTemplateVendedores"
                          [notFoundTemplate]="notFoundTemplateVendedores"
                          (selected)='selectEventUsuarios($event)'
                          formControlName="usuarios">
                        </ng-autocomplete>

                        <ng-template #itemTemplateVendedores let-item>
                        <a [innerHTML]="item.nombre"></a>
                        </ng-template>

                        <ng-template #notFoundTemplateVendedores let-notFound>
                        <div [innerHTML]="notFound"></div>
                        </ng-template>
                      </div>
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="form-group">
                    <label class="font-weight-bolder">Fecha de Inicio:</label>
                    <input type="date" name="fechaIni" formControlName="fechaIni" class="form-control">
                  </div>
                </div>
                <div class="col-lg-5">
                  <div class="form-group">
                    <label class="font-weight-bolder">Fecha Fin:</label>
                    <input type="date" name="fechaFin" formControlName="fechaFin" class="form-control">
                  </div>
                </div>
                <div class="col-lg-2">
                   <div class="form-group">
                     <button type="button" (click)="limpiar()" class="btn btn-outline btn-success dim mt-3"><i class="fa fa-eraser"></i></button>
                   </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6 d-flex justify-content-start">
                   <div class="form-group">
                    <button class="btn btn-outline btn-info btn-rounded dim" (click)="viewCierreCaja()"><i class="fa fa-eye"></i> Vista Previa</button>
                    <!-- <button class="btn btn-outline btn-info btn-rounded dim" (click)="guardarReporte()"><i class="fa fa-clipboard"></i> Guardar Reporte del día</button> -->
                   </div>
                </div>
                <div class="col-lg-6 d-flex justify-content-end">
                   <div class="form-group">
                     <button type="button" (click)="downloadPDF()" class="btn btn-outline btn-danger dim mr-2"><i class="fa fa-file-pdf-o"></i> Descargar PDF</button>
                     <button type="button" (click)="downloadExcel()" class="btn btn-outline btn-primary dim"><i class="fa fa-file-excel-o"></i> Descargar Excel</button>
                   </div>
                </div>
              </div>
            </form>
          </div>
          <hr>
          <div class="ibox-content">
            <div class="row">
              <div class="col-lg-12">
                  <div id="dTableMain" class="melevation table-responsive">
                    <table mat-table [dataSource]="MainDS" class="example-full-width" multiTemplateDataRows>
                      <ng-container matColumnDef="puntoventa">
                        <th mat-header-cell class="text-center" *matHeaderCellDef> Punto de Venta </th>
                        <td mat-cell *matCellDef="let element" style="text-align: center;" class='m-card-title' data-label='Punto de Venta :'>
                            {{element.puntoventa}}
                        </td>
                      </ng-container>
                        <ng-container matColumnDef="fecha">
                            <th mat-header-cell class="text-center" *matHeaderCellDef> Fecha </th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;" class='m-card-title' data-label='Fecha :'>
                                {{element.fecha | date:'d/M/y'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="vendedor">
                            <th mat-header-cell class="text-center" *matHeaderCellDef> Trabajador </th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;" class='has_label_on_mobile' data-label='Trabajador :'>
                                {{element.vendedor }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="tipoPago">
                          <th mat-header-cell class="text-center" *matHeaderCellDef> Tipo de Pago </th>
                          <td mat-cell *matCellDef="let element" style="text-align: center;" class='has_label_on_mobile' data-label='Tipo de Pago :'>
                              {{element.tipoPago }}
                          </td>
                      </ng-container>
                      <ng-container matColumnDef="monto">
                        <th mat-header-cell class="text-center" *matHeaderCellDef> Monto </th>
                        <td mat-cell *matCellDef="let element" style="text-align: center;" class='has_label_on_mobile' data-label='Monto :'>
                            {{element.monto  | number:'0.2-2'}}
                        </td>
                    </ng-container>
                        <ng-container matColumnDef="total">
                            <th mat-header-cell class="text-center" *matHeaderCellDef> Total </th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;" class='has_label_on_mobile' data-label='Total :'>
                                {{element.total | number:'0.2-2'}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="noData">
                            <mat-footer-cell *matFooterCellDef [attr.colspan]="MainDC.length">
                                No se encuentran registros.
                            </mat-footer-cell>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="MainDC; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: MainDC;"></tr>
                        <mat-footer-row *matFooterRowDef="['noData']" [hidden]="MainDS && this.MainDS.filteredData.length > 0">
                        </mat-footer-row>
                    </table>

                  </div>
                  <mat-paginator #pagMain style="display: contents;" [hidePageSize]="false" [pageSize]="10" showFirstLastButtons>
                  </mat-paginator>
              </div>
          </div>
          </div>
      </div>
  </div>
</div>
