<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Tipo de Cambio</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
<span class="material-icons">close</span>
</button>
</div>

<!-- Body -->
<div class="modal-body">
  <div class="row">
    <form autocomplete="off" novalidate [formGroup]="formGroup" (ngSubmit)="saveRegistro(formGroup)" class="col-lg-12">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label>Punto de Venta</label>
                <input type="text" name="puntoventa" formControlName="puntoventa" class="form-control" readonly>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label>Monedas</label>
                <select name="idMoneda" formControlName="idMoneda" class="form-control form-select">
                  <option value="0">[SELECCIONE]</option>
                  <option *ngFor="let item of cboMonedas" [value]="item.id">{{item.moneda}}</option>
                </select>
                <div class="text-danger font-weight-bolder" *ngIf="formGroup.get('idMoneda').hasError('required')">
                  Obligatorio.
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label>Fecha</label>
                <input type="date" name="fecha" formControlName="fecha" class="form-control" [max]="max">
                <div class="text-danger font-weight-bolder" *ngIf="formGroup.get('fecha').hasError('required')">
                  Obligatorio.
                </div>
              </div>
            </div>
            <div class="col-lg-6" [ngClass]="{'oculto': ocultar}">
              <div class="form-group">
                <label>Valor de Compra</label>
                <input type="text" name="valorCompra" formControlName="valorCompra" class="form-control" (input)="funcionesService.soloAceptarNumerosPuntoDecimal($event.target)">
              </div>
            </div>
            <div class="col-lg-6" [ngClass]="{'oculto': ocultar}">
              <div class="form-group">
                <label>Valor de Venta</label>
                <input type="text" name="valorVenta" formControlName="valorVenta" class="form-control" (input)="funcionesService.soloAceptarNumerosPuntoDecimal($event.target)">
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label>Observaciones</label>
                <textarea class="form-control" formControlName="observaciones"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
                <mat-slide-toggle formControlName="status">Estado</mat-slide-toggle>
            </div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-6 form-group">
              <button type="submit" class="btn btn-primary dim mr-2"><i class="fa fa-save"></i> GUARDAR</button>
              <button type="button" class="btn btn-default dim" (click)="activeModal.dismiss()"><i class="fa fa-save"></i> CERRAR</button>
          </div>
        </div>
      </form>
  </div>
</div>

<div class="modal-footer">
    <mat-progress-bar *ngIf="progressBar" color="accent" mode="indeterminate"></mat-progress-bar>
</div>
