<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{ titulo }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
<span class="material-icons">close</span>
</button>
</div>

<!-- Body -->
<div class="modal-body">
  <div class="row">
      <form autocomplete="off" novalidate [formGroup]="formGroup" (ngSubmit)="crudNumeracionTickets(formGroup)" class="col-lg-12">
          <div class="row">
            <div class="col-lg-3 form-group">
              <label>Series Tickets</label>
              <div class="ng-autocomplete">
                <ng-autocomplete
                  [data]="cboSeriesTickets"
                  [searchKeyword]="'serie'"
                  [itemTemplate]="itemTemplateSeries"
                  [notFoundTemplate]="notFoundTemplateSeries"
                  (selected)='selectEvent($event)'
                  formControlName="series">
                </ng-autocomplete>

                <ng-template #itemTemplateSeries let-item>
                <a [innerHTML]="item.serie"></a>
                </ng-template>

                <ng-template #notFoundTemplateSeries let-notFound>
                <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
              <div class="text-danger font-weight-bolder" *ngIf="formGroup.get('idSeriesTickets').invalid && (formGroup.get('idSeriesTickets').dirty || formGroup.get('idSeriesTickets').touched)">
                Obligatorio.
              </div>
            </div>
            <div class="col-lg-3 form-group">
              <label>Número de Inicio</label>
              <input type="text" formControlName="numeroInicio" class="form-control">
              <div class="text-danger font-weight-bolder" *ngIf="formGroup.get('numeroInicio').invalid && (formGroup.get('numeroInicio').dirty || formGroup.get('numeroInicio').touched)">
                Obligatorio.
              </div>
            </div>
            <div class="col-lg-3 form-group">
              <label>Número Fin</label>
              <input type="text" formControlName="numeroFin" class="form-control">
              <div class="text-danger font-weight-bolder" *ngIf="formGroup.get('numeroFin').invalid && (formGroup.get('numeroFin').dirty || formGroup.get('numeroFin').touched)">
                Obligatorio.
              </div>
            </div>
            <div class="col-lg-3 form-group">
              <label>Número Actual</label>
              <input type="text" formControlName="numeroActual" class="form-control">
              <div class="text-danger font-weight-bolder" *ngIf="formGroup.get('numeroActual').invalid && (formGroup.get('numeroActual').dirty || formGroup.get('numeroActual').touched)">
                Obligatorio.
              </div>
            </div>
              <div class="col-lg-12 form-group">
                <label>Observaciones</label>
                <input type="text" class="form-control" formControlName="observaciones">
            </div>
          </div>
          <div class="row">
              <div class="col-lg-6 form-group">
                  <mat-slide-toggle formControlName="status">Estado</mat-slide-toggle>
              </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-6 form-group">
                <button type="submit" class="btn btn-primary dim mr-2"><i class="fa fa-save"></i> GUARDAR</button>
                <button type="button" class="btn btn-default dim" (click)="activeModal.dismiss()"><i class="fa fa-save"></i> CERRAR</button>
            </div>
          </div>
      </form>
  </div>
</div>

<div class="modal-footer">
  <mat-progress-bar *ngIf="progressBar" color="accent" mode="indeterminate"></mat-progress-bar>
</div>
